html,
body {
  /* height: 100%; */
  overflow: hidden;
  /* Hide scrollbars */
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

.mySlides > img {
  vertical-align: middle;

  display: block;
  margin: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  /* bottom: -40px !important; */
  width: 100%;
  text-align: center;
  font-family: Verdana;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
.blue_button {
  background-color: #f09031c7 !important;
}
.btn {
  font-family: "Google Sans", Roboto, var(--noto-ff), Arial, sans-serif !important;

  font-size: 0.875rem !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  line-height: 1.25rem !important;
}
.btn.fa::before {
  font-family: "Google Sans", Roboto, var(--noto-ff), Arial, sans-serif !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  line-height: 1.25rem !important;
}

.pointerclass {
  cursor: pointer;
}

li {
  cursor: pointer;
}
#searchlist > * {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 1.4;
}
#searchlist > div > hr {
  margin: 2px 2px 2px 2px;
}
html,
body,
#map {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.shadow-custom {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2) !important;
  background-color: #ffffff !important;
  /* box-shadow: 3px 3px #888888 !important; */
}
#buttons {
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 10px;
  z-index: 400;
}
#searchbox {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  z-index: 400;
}

#searchbox > * {
  outline: none;
}
#logos {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  z-index: 400;
}

#logos > * {
  outline: none;
}

.rounded-extra {
  border-radius: 24px !important;
}
.circle-button {
  border-radius: 40px !important;
}

#sidebar.active {
  left: 0px;
  top: 0px;
}

#sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  padding-top: -10px;
  background-color: rgb(255, 255, 255);
  left: -250px;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 270px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #000;
  margin-bottom: 5px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2) !important;
  z-index: 1000;
}

#sidebar.active {
  /* REMOVE THE SPACE ON THIS LINE */
  left: 0px;
}

ul {
  width: 100%;
  margin-top: 30px;
}

li {
  list-style: none;
  padding: 2px 5px 5px 2px;

  text-align: left;
}
.close_side_bar {
  margin-top: 10px;
  font-size: larger !important;
}
